<%= form_for(ilo_scan_job) do |f| %>
  <fieldset> 
  <div class="form-group">
    <%= f.label :start_ip, "Start IP Address", class: "control-label", for: "inputSmall" %>
    <%= f.text_field :start_ip, class: "form-control input-sm", type: "text", id: "inputSmall", readonly: true %>
  </div>
  <div class="form-group">
    <%= f.label :end_ip, "End IP Address", class: "control-label", for: "inputSmall" %>
    <%= f.text_field :end_ip, class: "form-control input-sm", type: "text", id: "inputSmall", readonly: true %>
  </div>

  <div class="form-group">
    <%= f.label :ilo_username, "BMC Username", class: "control-label", for: "inputSmall" %>
    <%= f.text_field :ilo_username, class: "form-control input-sm", type: "text", id: "inputSmall" %>
  </div>

  <div class="form-group">
    <%= f.label :ilo_password, "BMC Password", class: "control-label", for: "inputSmall" %>
    <%= f.text_field :ilo_password, class: "form-control input-sm", type: "text", id: "inputSmall" %>
  </div>

  <div class="actions">
    <%= f.submit 'Rescan', class: 'btn btn-success' %>
  </div>
  </fieldset>
  <% if ilo_scan_job.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% ilo_scan_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
