<%= form_for @cred do |f| %>
  <fieldset>
    <div class="row clearfix">
      <div class="col-md-3">
        <div class="form-group">
          <%= f.label :name, "Credential List Name", class: "control-label", for: "inputSmall" %>
          <%= f.text_field :name, class: "form-control input-sm", type: "text", id: "inputSmall" %>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">Username and Password List</div>
            <div class="panel-body clearfix">
              <button id="add_credrow" class="btn btn-primary">Add New Row</button>
              <table id="cred_details" class="table table-condensed table-striped" width="100%" cellspacing="0" data-scroll-x="true" scroll-collapse="false">
                <thead id="main_header">
                  <tr>
                    <th>Execute Order</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="cred_detail_tbody">
                  <div data-role="dynamic-fields" class="field_contain">
                    <%= f.fields_for :brute_list_secrets do |secret| %>
                    <div class="form-inline">
                      <tr class="credential_row">
                        <td><span class="row_order">1</span><%= secret.text_field :order, class: "number_order", type: "hidden", value: "1" %></td>
                        <td><%= secret.text_field :username, class: "form-control input-sm", id: "inputSmall" %></td>
                        <td><%= secret.text_field :password, class: "form-control input-sm", id: "inputSmall" %></td>
                        <td><button id="del_credrow" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                      </tr>
                    </div>
                    <% end %>
                  </div>
                </tbody>
              </table>
            </div>
          </div>
        </div> 
      </div>

      <div class="actions move-down">
        <%= f.submit 'Create New Credential List', class: 'btn btn-success pull-right', id: "new_cred_submit" %>
      </div>

      <% if brute_list.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% brute_list.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    </div>
  </fieldset>
<% end %>
