<li>
  <div class="collapsible-header z-depth-1">
    <blockquote class="green_line">
      BMC Hosts Getting Onboarded for First Time
    </blockquote>
    <div class="clearfix">
      <span class="small pull-left list_banner">Click to expand list.</span>
      <span class="small pull-right">
        <%= green.count %> BMC
        <% if green.count == 1 %>
          host
        <% else %>
          hosts
        <% end %>
      </span>
    </div>
  </div>
  <div class="z-depth-1 collapsible-body">
    <p>BMC hosts in this list are in the process of being onboarded for the first time.</p>
    <br>
    <div class="table-modal z-depth-1">
      <table class="table-sm striped centered responsive-table">
        <thead>
          <tr>
            <th>BMC Address</th>
            <th>Brand</th>
            <th>Product</th>
            <th>Serial</th>
            <th>Onboard State</th>
          </tr>
        </thead>
        <tbody>
        <% green.each do |x|; host = x[:bmc_host] %>
          <tr>
            <td id="onboard_table_<%= host.id %>_ip_address"><%= host.ip_address %></td>
            <td id="onboard_table_<%= host.id %>_brand"><%= host.brand %></td>
            <td id="onboard_table_<%= host.id %>_product"><%= host.product %></td>
            <td id="onboard_table_<%= host.id %>_serial" class="serial"><%= host.serial %></td>
            <td id="onboard_table_<%= host.id %>_onboard_status" class="onboard_status"><%= host.onboard_status %>: <%= host.onboard_step %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</li>
