    <div class="alert red lighten-2" role="alert">
      <p class="text-uppercase">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        The following zones appear to be in the DCIM portal, but not in the Foreman backend!</p>
    </div>
    <%= form_tag({controller: "zones", action: "multi_delete"}, method: "delete") do %>

      <table class="table-responsive table-sm">
        <thead>
          <tr>
            <th>Foreman Location ID</th>
            <th>DCIM Zone Name</th>
          </tr>
        </thead>
        <tbody>
        <% @dcim_extras.each do |id, name| %>
          <tr>
            <td><%= id || 'N/A' %></td><%= text_field_tag :zone, "", :name => "zone[][id]", type: "hidden", value: id %>
            <td><%= name %></td><%= text_field_tag :zone, "", :name => "zone[][name]", type: "hidden", value: name %>
          </tr>
        <% end %>
        </tbody>
      </table>

      <%= submit_tag 'Remove from DCIM Portal', data: { confirm: 'Are you sure?' }, class: 'btn btn-sm orange lighten-2' %>

    <% end %>
    
    <%= form_tag({controller: "zones", action: "foreman_add"}, method: "post") do %>

      <% @dcim_extras.each do |id, name| %>
        <%= text_field_tag :zone, "", :name => "zone[][id]", type: "hidden", value: id %>
        <%= text_field_tag :zone, "", :name => "zone[][name]", type: "hidden", value: name %>
      <% end %>

      <div>
        <%= submit_tag 'Add to Foreman', data: { confirm: "This will add the zones into Foreman!  Are you sure?" }, class: 'btn btn-sm green lighten-2' %>
      </div>

    <% end %>
