<div class="clearfix">
  <h3 class="section_title">Datacenter Zones</h3>
  <%= render '/layouts/data_load' %>
</div>
<div class="card ovf-hidden">
  <div class="card-content" id="outer-card">
    <div id="async_wrapper">
      <%= render_async admin_api_zone_path %>
    </div>
    <a class='btn btn-outline-default waves-effect activator' id="form_reveal">Add New Zone</a>
  </div>

  <div class="card-reveal">
    <h4 class="card-title blue-grey darken-3">
      <i class="fa fa-building-o relative" aria-hidden="true"></i>
      Add New Zone <i class="fa fa-close"></i>
    </h4>
    <p>Add a datacenter zone to place systems in.</p>
    <hr>
    <%= form_for([:admin, @zone], remote: true, html: {"data-type" => :json, id: "ajax_card_form"}) do |f| %>
      <div class="form-group">
        <%= f.label :name, "Datacenter Zone Name", for: "zone_name" %>
        <%= f.text_field :name, class: "form-control browser-default", type: "text", id: "zone_name", "aria-describedby": "name_help" %>
        <small id="name_help" class="form-text text-muted">When submitted, a datacenter zone will be created in Foreman.</small>
        <%= f.text_field :id, type: "hidden", value: @id %>
      </div>
      <div class="clearfix">
        <%= f.button 'Create New Zone', class: 'btn btn-sm green lighten-2 pull-right', id: 'ajax_submit_button' %>
      </div>
      <hr>
      <div class="blue-grey lighten-3" id ="waiting_explanation"><span>Attempting to create zone - please wait <div class="throbber-loader"> </div></span></div>
      <div class="red lighten-2 form_card_error" id="error_explanation" class="form_card_error"><ul></ul></div>
      <div class="green lighten-2" id="success_explanation">Datacenter Zone Created!</div>
    <%end %>
  </div>

</div>

<hr class="invisible">

<div class="card">
  <div class="card-content">
    <div class="clearfix">
      <h5 class="table-title">Datacenter Zone List</h5>
      <div class="pull-right">
        <p class="time_dock"><%= t :time_dock %></p>
      </div>
    </div>
    <br>
    <div class="z-depth-1">
      <table id="zone_table" class="table striped nowrap" cellspacing="0" width="100%" data-livetype="datatable" data-source="<%= datatable_admin_zones_path(format: :json) %>">
        <thead>
          <tr>
            <th class="th_id">DCIM Zone ID</th>
            <th>Zone Name</th>
            <th>Foreman Zone ID</th>
            <th class="th_time">Date Added</th>
            <th class="th_url"></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<script>
  $("form#ajax_card_form").on("ajax:success", function() {
    $("form#ajax_card_form")[0].reset();
  });

  document.detail_name = 'zone'
</script>
