<div class="clearfix">
  <h3 class="section_title">BMC Host <span class="category_bmc_host_serial"><%= @bmc_host.serial %></span> Details</h3>
  <div id="cache-indicator" class="blue lighten-3" style="display: none">Refreshing&hellip; <i class="fa fa-refresh fa-spin fa-fw"></i></div>
</div>
<div class="card ovf-hidden">
  <div class="card-block">
    <div class="clearfix">
      <%= link_to 'Back', bmc_hosts_path, class: 'btn blue-grey lighten-2' %>
      <div class="pull-right">
        <p class="time_dock"><%= t :time_dock %></p>
      </div>
    </div>

    <div id="height_check" class="table-responsive">
      <table class="table table-striped table-shadow" id="show_view_table">
        <thead>
          <tr>
            <th>BMC Address</th>
            <th>Brand</th>
            <th>Product</th>
            <th>Serial</th>
            <th>Datacenter Zone</th>
            <th>Sync Status</th>
            <th>Onboarded</th>
            <th>Synchronize Time</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="category_bmc_host_ip_address" data-title="BMC Address:"><%= @bmc_host.ip_address %></td>
            <td id="category_bmc_host_brand" data-title="Brand:"><%= @bmc_host.brand %></td>
            <td id="category_bmc_host_product" data-title="Product:"><%= @bmc_host.product %></td>
            <td id="category_bmc_host_serial" data-title="Serial:"><%= @bmc_host.serial %></td>
            <td id="category_bmc_host_zone_name" data-title="Datacenter Zone:"><%= @bmc_host.zone.name %></td>
            
            <td id="category_bmc_host_sync_status" data-title="Sync Status:">
            <% if @bmc_host.sync_status.nil? %>
              <span class="badge blue-grey darken-2"><i class="fa fa-hourglass-start" aria-hidden="true"></i> Queued</span>
            <% elsif @bmc_host.sync_status == "success" %>
              <span class="badge green lighten-2"><i class="fa fa-check-circle-o" aria-hidden="true"></i> <%= t(@bmc_host.sync_status, scope: "filters.options.bmc_host.sync_status") %></span>
            <% elsif @bmc_host.sync_status == "in_progress" %>
              <span class="badge blue lighten-2"><svg class="spinner" viewBox="0 0 50 50"><circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle></svg> Syncing</span>
            <% elsif @bmc_host.sync_status.include? "invalid" %>
              <span class="badge orange lighten-2"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <%= t(@bmc_host.sync_status, scope: "filters.options.bmc_host.sync_status") %></span>
            <% else %>
              <span class="waves-effect waves-light badge red lighten-2 modal-trigger" href="#sync_error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <%= t(@bmc_host.sync_status, scope: "filters.options.bmc_host.sync_status") %></span>
            <% end %>
            </td>
            <td id="category_bmc_host_onboard_request_status" data-title="Onboarded:"><%= @bmc_host.onboard_request.try(:status) %></td>
            <td id="category_bmc_host_updated_at" data-title="Synchronize Time:"><%= local_time(@bmc_host.updated_at.iso8601, '%B %e %Y, %l:%M%P') %></td>
            <td data-title="Actions:">
              <a class="blue-grey-text activator" role="button"><i class="fa fa-pencil"></i></a>
              <%= link_to '<i class="fa fa-times"></i>'.html_safe, @bmc_host, method: :delete, data: { confirm: 'Are you sure?' }, class: 'red-text action_button', "role": "button" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-reveal">
  </div>

</div>

<div class="card">
  <div class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a class="active" href="#hard_facts">Hardware Facts</a></li>
      <li class="tab"><a href="#soft_facts">Software Facts</a></li>
      <li class="tab"><a href="#owner">Owner</a></li>
      <li class="tab"><a href="#catalog_status">Catalog Status</a></li>
    </ul>
  </div>
  <div class="card-content grey lighten-4">
    <div id="hard_facts">Hardware Facts</div>
    <div id="soft_facts">Software Facts</div>
    <div id="owner">Owner Stuff</div>
    <div id="catalog_status">Catalog Status</div>
  </div>
</div>

<div id="sync_error" class="modal bottom-sheet">
  <div class="modal-content">
    <h4 class="red lighten-2 white-text">BMC Host Sync Status - <%= t(@bmc_host.sync_status, scope: "filters.options.bmc_host.sync_status") %></h4>
    <p><%= simple_format @bmc_host.error_message %></p>
  </div>
</div>

<script>
$(document).ready(function(){
  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  $('.modal').modal();
});
</script>
