<!--<div class="visual_dc_wrapper">-->
</div>
<%= javascript_pack_tag 'ResizeObserver' %>
<!--
<div class="clearfix">
  <h3 class="section_title">Zone Layout</h3>
  <%= render '/layouts/data_load' %>
</div>
-->
<div id="visual_dc">
  <canvas id="visual_dc_canvas" data-zone-id="<%= @zone.id %>" touch-action="none"></canvas>
  <div id="hud_racklist" style="position: fixed; top: 60px;">
    <ul>
    <% @enclosure_racks.each do |rack| %>
      <% if rack.x.nil? || rack.y.nil? %>
        <li data-enclosure-rack-id="<%= rack.id %>" class="enclosure-rack-drawer-item"><%= rack.name %></li>
      <% end %>
    <% end %>
    </ul>
  </div>  
</div>
