<tr id="row<%= ilo_scan_job.id %>">
  <td><%= ilo_scan_job.id %></td>
  <td><%= ilo_scan_job.start_ip %></td>
  <td><%= ilo_scan_job.end_ip %></td>
  <td><%= ilo_scan_job.ilo_username %></td>
  <td><%= ilo_scan_job.ilo_password %></td>
  <td id="<%= ilo_scan_job.id %>"><%= ilo_scan_job.status %></td>
  <td><%= I18n.l ilo_scan_job.created_at, format: :pretty %></td>
  <td><%= link_to 'Details', ilo_scan_job, class: 'btn btn-small btn-info' %></td>
  <td><%= link_to 'Edit', edit_ilo_scan_job_path(ilo_scan_job), class: 'btn btn-small btn-warning disabled', id: "edit_disable_#{ilo_scan_job.id}" %></td>
  <td><%= link_to 'Delete', ilo_scan_job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger disabled', id: "delete_disable_#{ilo_scan_job.id}" %></td>
</tr>

