<div id="scan_<%= @ilo_scan_job.id %>">
<table id="detail_table" class="table table-condensed table-striped" width="100%" cellspacing="0" data-scroll-x="true" scroll-collapse="false">
  <thead id="main_header">
    <tr>
      <th>BMC Address</th>
      <th>Server Model</th>
      <th>Server Serial</th>
      <th>Power Status<br>(at time of scan)</th>
      <th>Provision Status</th>
    </tr>
  </thead>
  <tbody id="main_table_body" style="display: none">
    <% @scan_results.each do |result| %>
      <tr class="server<%= @ilo_scan_job.id %>">
        <td><%= result.ilo_address %></td>
        <td><%= result.server_model %></td>
        <td><%= result.server_serial %></td>
        <td><%= result.power_status %></td>
        <td><%= result.provision_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
