<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="text-left text-uppercase bg-primary"><em>Server Scan Jobs</em></h3>
      <%= link_to 'New Scan Job', new_ilo_scan_job_path, class: 'btn btn-default' %>
      <div class="pull-right">
        <p class="time_dock">*All Times are US Central</p>
      </div>
      <%= render 'table_header' %>
            <tbody id="action_cable_row"></tbody>
            <tbody>
              <% @ilo_scan_jobs.reverse_each do |ilo_scan_job| %>
                <% unless ilo_scan_job.status == "Scan Complete" %>
                  <%= render partial: 'disable_row', locals: { ilo_scan_job: ilo_scan_job } %>
                <% else %>
                  <%= render partial: 'enable_row', locals: { ilo_scan_job: ilo_scan_job } %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
