<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="text-left text-uppercase bg-primary"><em>Server Scan Jobs</em></h3>
      <%= link_to 'New Scan Job', new_ilo_scan_job_path, class: 'btn btn-success' %>
      <div class="pull-right">
        <p class="time_dock">*All Times are US Central</p>
      </div>
      <div class="overlay">
        <div class="inner-overlay">
          <i class="fa fa-refresh fa-2x fa-spin"></i>
          <p>Loading Data...</p>
        </div>
      </div>
      <%= render 'table_header' %>
          <tbody id="main_table_body" style="display: none">
            <% @ilo_scan_jobs.reverse_each do |ilo_scan_job| %>
              <tr id="row<%= ilo_scan_job.id %>">
                <td id="td_0_<%= ilo_scan_job.id %>"><%= ilo_scan_job.id %></td>
                <td id="td_1_<%= ilo_scan_job.id %>"><%= ilo_scan_job.start_ip %></td>
                <td id="td_2_<%= ilo_scan_job.id %>"><%= ilo_scan_job.end_ip %></td>
                <td id="td_3_<%= ilo_scan_job.id %>"><%= ilo_scan_job.ilo_username %></td>
                <td id="td_4_<%= ilo_scan_job.id %>"><%= ilo_scan_job.ilo_password %></td>
                <% unless ilo_scan_job.status == "Scan Complete" %>
                  <td id="td_5_<%= ilo_scan_job.id %>"><%= ilo_scan_job.status %> <div class="throbber-loader"> </div></td>
                <% else %>
                  <td id="td_5_<%= ilo_scan_job.id %>"><%= ilo_scan_job.status %></td>
                <% end %>
                <td id="td_6_<%= ilo_scan_job.id %>"><%= I18n.l ilo_scan_job.created_at, format: :pretty %></td>
                <td id="td_7_<%= ilo_scan_job.id %>"><%= link_to 'Details', ilo_scan_job, class: 'btn btn-small btn-info' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
