<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <h3 class="text-center">Scan Job <%= @ilo_scan_job.id %> Details</h3>
    <div class="col-md-8 col-md-offset-2">
      <%= render 'table_header' %>
        <tbody>
          <tr>
            <td><%= @ilo_scan_job.id %></td>
            <td><%= @ilo_scan_job.start_ip %></td>
            <td><%= @ilo_scan_job.end_ip %></td>
            <td><%= @ilo_scan_job.ilo_username %></td>
            <td><%= @ilo_scan_job.ilo_password %></td>
            <td><%= @ilo_scan_job.status %></td>
            <td><%= I18n.l @ilo_scan_job.created_at, format: :pretty %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Scan Results</div>
      <div class="panel-body">
        <p><%= @ilo_scan_job.count %> Server(s) Responded</p>
      </div>
      <div class="table-responsive">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>BMC Address</th>
              <th>Server Model</th>
              <th>Server Serial</th>
            </tr>
          </thead>
          <tbody>
            <% @scan_results.each do |result| %>
              <tr>
                <td><%= result.ilo_address %></td>
                <td><%= result.server_model %></td>
                <td><%= result.server_serial %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= link_to 'Edit', edit_ilo_scan_job_path(@ilo_scan_job) %>
    <%= link_to 'Back', ilo_scan_jobs_path %>
  </div>
</div>
</div>
