<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="show_title text-left text-uppercase">Scan Job <%= @ilo_scan_job.id %> Details</h3>
      <%= link_to 'Back', ilo_scan_jobs_path, class: 'btn btn-default' %>
      <div class="pull-right">
        <p class="time_dock">*All Times are US Central</p>
      </div>
      <%= render 'job_header' %>
            <tbody>
              <tr>
                <td><%= @ilo_scan_job.id %></td>
                <td><%= @ilo_scan_job.start_ip %></td>
                <td><%= @ilo_scan_job.end_ip %></td>
                <td><%= @ilo_scan_job.ilo_username %></td>
                <td><%= @ilo_scan_job.ilo_password %></td>
                <% unless @ilo_scan_job.status =~ /^(Scan Complete|Error During Provisioning|Servers Provisioned)$/ %>
                  <td id="status_<%= @ilo_scan_job.id %>"><%= @ilo_scan_job.status %> <div class="throbber-loader"> </div></td>
                <% else %>
                  <td id="status_<%= @ilo_scan_job.id %>"><%= @ilo_scan_job.status %></td>
                <% end %>
                <td><%= I18n.l @ilo_scan_job.updated_at, format: :pretty %></td>
                <% unless @ilo_scan_job.status =~ /^(Scan Complete|Error During Provisioning|Servers Provisioned)$/ %>
                  <td><%= link_to 'Edit', edit_ilo_scan_job_path(@ilo_scan_job), class: 'btn btn-small btn-warning disabled', id: "edit_disable_#{@ilo_scan_job.id}" %></td>
                  <td><%= link_to 'Delete', @ilo_scan_job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger disabled', id: "delete_disable_#{@ilo_scan_job.id}" %></td>
                <% else %>
                  <td><%= link_to 'Edit', edit_ilo_scan_job_path(@ilo_scan_job), class: 'btn btn-small btn-warning', id: "edit_disable_#{@ilo_scan_job.id}" %></td>
                  <td><%= link_to 'Delete', @ilo_scan_job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger', id: "delete_disable_#{@ilo_scan_job.id}" %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="overlay">
      <div class="inner-overlay">
        <i class="fa fa-refresh fa-2x fa-spin"></i>
        <p>Loading Data...</p>
      </div>
    </div>
    <div class="panel panel-default" id="main_header">
    <div class="panel-heading">Scan Results</div>
      <div class="panel-body">
        <% if @ilo_scan_job.count.nil? %>
          <span id="scan_info_<%= @ilo_scan_job.id %>" class="waiting">Waiting on scan results <div class="throbber-loader"> </div></span></div>
        <% elsif @ilo_scan_job.count == 0 %>
          <span id="scan_info_<%= @ilo_scan_job.id %>" class="no-respond">No servers responded within this range</span></div>
        <% elsif @ilo_scan_job.count > 0 && @ilo_scan_job.status != "Scan Complete" && @ilo_scan_job.status != "Provisioning Servers" && @ilo_scan_job.status != "Error During Provisioning" && @ilo_scan_job.status != "Servers Provisioned"%>
          <span id="scan_info_<%= @ilo_scan_job.id %>" class="waiting">Waiting on scan results  <div class="throbber-loader"> </div></span></div>
        <% else %>
          <span id="scan_info_<%= @ilo_scan_job.id %>" class="responded"><%= @ilo_scan_job.count %> server(s) responded</span></div>
        <% end %>
        <%= render 'scan_table' %>
      </div>
      <% unless @ilo_scan_job.status =~ /^(Scan Complete|Error During Provisioning|Servers Provisioned)$/ %>
        <button id="provision" class='provision_<%= @ilo_scan_job.id %> btn black-btn pull-right disabled' data-target='#provision_modal' data-toggle='modal' type='button'>Provision Servers</button>
      <% else %>
        <button id="provision" class='provision_<%= @ilo_scan_job.id %> btn black-btn pull-right' data-target='#provision_modal' data-toggle='modal' type='button'>Provision Servers</button>
      <% end %>
    </div>
  </div>
  <%= render 'modal' %>
</div>
<script>
$('#provision').click(function() {
  var table_select_array, data_select, detail_table, tbody
  detail_table = $('#detail_table').DataTable();
  table_select_array = JSON.stringify( detail_table.rows( '.selected', { search: 'applied' } ).data().toArray() );
  data_select = $.parseJSON( table_select_array );
  if (data_select.length) {
    $('#nothing').hide();
    $('.alert').show();
    $('.table-modal').show();
    $('.prov').show();
    $('#confirm').show();
    $('#note').show();
    tbody = arrayToTable(data_select, {
      attrs: {class: 'selected_servers'}
    })
    $('#provision_body').html(tbody);
    $('.td_4:contains("Server Discovered into Backend")').parent().addClass("no-select");
    $('.td_2:empty').parent().addClass("no-select");
    $('.td_2:contains("N/A")').parent().addClass("no-select");
    $('.no-select input').remove(".row_input");
    $('.td_4').hide();
    $('.td_3').hide();
  } else {
    $('.alert').hide();
    $('#note').hide();
    $('.table-modal').hide();
    $('.prov').hide();
    $('#confirm').hide();
    $('#nothing').show();
  }
  if($('#provision').hasClass('disabled')) {
    event.stopPropagation();
  }  
});
</script>
<script>
var arrayToTable = function (data) {
  "use strict";
  var rows = [], row, i, j
  for (i = 0; i < data.length; i = i + 1) {
    row = $("<tr />");
    row.append($('<input class=row_input>').attr({
      type: 'hidden',
      value: data[i][0],
      name: "address[]"
    }).html(""));
    for (j = 0; j < data[i].length; j = j + 1) {
      row.append($('<td class=td_' + j + '/>').html(data[i][j]));
    }
    rows.push(row);
  }
  for (i = 0; i < rows.length; i = i + 1) {
    row.append(rows[i]);
  }
  return rows;
};
</script>
<script>
$('.prov').on('click',function(){
   $('#prov_form').submit();
 });
</script>
