<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <h3 class="text-center">Scan Job <%= @ilo_scan_job.id %> Details</h3>
    <div class="col-md-8 col-md-offset-2">
      <%= link_to 'Edit', edit_ilo_scan_job_path(@ilo_scan_job) %>
      <%= link_to 'Back', ilo_scan_jobs_path, "data-turbolinks" => "false"%>
      <%= link_to 'Delete', @ilo_scan_job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger' %>
      <div class="pull-right">
        <p>*All Times are US Central</p>
      </div>
      <%= render 'table_header' %>
            <tbody>
              <tr>
                <td><%= @ilo_scan_job.id %></td>
                <td><%= @ilo_scan_job.start_ip %></td>
                <td><%= @ilo_scan_job.end_ip %></td>
                <td><%= @ilo_scan_job.ilo_username %></td>
                <td><%= @ilo_scan_job.ilo_password %></td>
                <td><%= @ilo_scan_job.status %></td>
                <td><%= I18n.l @ilo_scan_job.created_at, format: :pretty %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Scan Results</div>
      <div class="panel-body">
        <% if @ilo_scan_job.count.nil? %>
          <p>Waiting on Scan Results...</p></div>
        <% elsif @ilo_scan_job.count == 0 %>
          <p>No Servers Responded Within This Range</p></div>
        <% else %>
          <p><%= @ilo_scan_job.count %> Server(s) Responded</p></div>
          <%= render 'scan_table' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
