<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="text-left text-uppercase"><em>Scan Job <%= @ilo_scan_job.id %> Details</em></h3>
      <%= link_to 'Back', ilo_scan_jobs_path, class: 'btn btn-default' %>
      <div class="pull-right">
        <p class="time_dock">*All Times are US Central</p>
      </div>
      <%= render 'job_header' %>
            <tbody>
              <tr>
                <td><%= @ilo_scan_job.id %></td>
                <td><%= @ilo_scan_job.start_ip %></td>
                <td><%= @ilo_scan_job.end_ip %></td>
                <td><%= @ilo_scan_job.ilo_username %></td>
                <td><%= @ilo_scan_job.ilo_password %></td>
                <% unless @ilo_scan_job.status == "Scan Complete" %>
                  <td id="status_<%= @ilo_scan_job.id %>"><%= @ilo_scan_job.status %> <div class="throbber-loader"> </div></td>
                <% else %>
                  <td id="status_<%= @ilo_scan_job.id %>"><%= @ilo_scan_job.status %></td>
                <% end %>
                <td><%= I18n.l @ilo_scan_job.created_at, format: :pretty %></td>
                <% unless @ilo_scan_job.status == "Scan Complete" %>
                  <td><%= link_to 'Edit', edit_ilo_scan_job_path(@ilo_scan_job), class: 'btn btn-small btn-warning disabled', id: "edit_disable_#{@ilo_scan_job.id}" %></td>
                  <td><%= link_to 'Delete', @ilo_scan_job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger disabled', id: "delete_disable_#{@ilo_scan_job.id}" %></td>
                <% else %>
                  <td><%= link_to 'Edit', edit_ilo_scan_job_path(@ilo_scan_job), class: 'btn btn-small btn-warning', id: "edit_disable_#{@ilo_scan_job.id}" %></td>
                  <td><%= link_to 'Delete', @ilo_scan_job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger', id: "delete_disable_#{@ilo_scan_job.id}" %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="overlay">
      <div class="inner-overlay">
        <i class="fa fa-refresh fa-2x fa-spin"></i>
        <p>Loading Data...</p>
      </div>
    </div>
    <div id="main_header" class="panel panel-default">
      <div class="panel-heading">Scan Results</div>
      <div class="panel-body">
        <% if @ilo_scan_job.count.nil? %>
          <span id="scan_info_<%= @ilo_scan_job.id %>" class="waiting">Waiting on scan results <div class="throbber-loader"> </div></span></div>
        <% elsif @ilo_scan_job.count == 0 %>
          <span id="scan_info_<%= @ilo_scan_job.id %>" class="no-respond">No servers responded within this range</span></div>
        <% elsif @ilo_scan_job.count > 0 && @ilo_scan_job.status != "Scan Complete" %>
          <span id="scan_info_<%= @ilo_scan_job.id %>" class="waiting">Waiting on scan results  <div class="throbber-loader"> </div></span></div>
        <% else %>
          <span id="scan_info_<%= @ilo_scan_job.id %>" class="responded"><%= @ilo_scan_job.count %> server(s) responded</span></div>
        <% end %>
        <%= render 'scan_table' %>
      </div>
    </div>
  </div>
</div>
