    <div class="alert red lighten-2" role="alert">
      <p class="text-uppercase">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        The following zones appear to be in the Foreman backend, but not in the DCIM portal!</p>
    </div>
    <%= form_tag({controller: "zones", action: "multi_create"}, method: "post") do %>

      <table class="table-responsive table-sm">
       <thead>
          <tr>
            <th>Foreman Zone</th>
          </tr>
        </thead>
        <tbody>
        <% @foreman_extras.each do |name| %>
          <tr>
            <td><%= name %></td><%= text_field_tag :zone, "", :name => "zone[][name]", type: "hidden", value: name %>
          </tr>
        <% end %>
        </tbody>
      </table>

      <%= submit_tag 'Add to DCIM Portal', class: 'btn btn-sm green lighten-2' %>

    <% end %>

    <%= form_tag({controller: "zones", action: "foreman_remove"}, method: "post") do %>

      <% @foreman_extras.each do |name| %>
        <%= text_field_tag :zone, "", :name => "zone[][name]", type: "hidden", value: name %>
      <% end %>

      <div>
        <%= submit_tag 'Remove from Foreman', data: { confirm: "This will remove the zones from Foreman!  Are you sure?" }, class: 'btn btn-sm orange lighten-2' %>
      </div>

    <% end %>
    <hr>
