<%= form_for @zone do |f| %>
  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :name, "Datacenter Zone Name", class: "control-label", for: "inputSmall" %>
          <%= f.text_field :name, class: "form-control input-sm", type: "text", id: "inputSmall", "aria-describedby": "name_help" %>
          <small id="name_help" class="form-text text-muted">When submitted, a datacenter zone will be created in Foreman.</small>
          <%= f.text_field :id, type: "hidden", value: @id %>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="actions move-down">
    <%= f.submit 'Create New Zone', class: 'btn btn-success pull-right' %>
  </div>
  <% if zone.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% zone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if flash[:error] %>
    <div id="error_explanation">
      <ul><li><%= flash[:error] %></li></ul>
    </div>
  <%end %>
<% end %>
