<div class="clearfix">
  <h3 class="section_title">Zone <span class="category_zone_name"><%= @zone.name %></span> Details</h3>
  <div id="cache-indicator" class="blue lighten-3" style="display: none">Refreshing&hellip; <i class="fa fa-refresh fa-spin fa-fw"></i></div>
</div>

<div class="card ovf-hidden">
  <div class="card-block">
    <div class="clearfix">
      <%= link_to 'Back', zones_path, class: 'btn blue-grey lighten-2 back' %>
      <div class="pull-right">
        <p class="time_dock"><%= t :time_dock %></p>
      </div>
    </div>

    <div id="height_check" class="table-responsive">
      <table class="table table-striped table-shadow" id="show_view_table">
        <thead>
          <tr>
            <th>DCIM Zone ID</th>
            <th>Zone Name</th>
            <th>Foreman Zone ID</th>
            <th>Last Updated</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="category_zone_id" data-title="DCIM Zone ID:"><%= @zone.id %></td>
            <td id="category_zone_name" data-title="Zone Name:"><%= @zone.name %></td>
            <td id="category_zone_foreman_location_id" data-title="Foreman Zone ID:"><%= @zone.foreman_location_id %></td>
            <td id="category_zone_update_at" data-title="Last Updated:"><%= local_time(@zone.updated_at, '%B %e %Y, %l:%M%P') %></td>
            <td data-title="Actions:">
              <a class="blue-grey-text activator"><i class="fa fa-pencil"></i></a>
              <%= link_to '<i class="fa fa-times"></i>'.html_safe, @zone, method: :delete, data: { confirm: 'Are you sure?' }, class: 'red-text', id: "delete_disable_#{@zone.id}" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-reveal">
    <h4 class="card-title blue-grey darken-3 ">
      <i class="fa fa-building-o relative" aria-hidden="true"></i>
      Edit Zone <i class="fa fa-close"></i>
    </h4>
    <p>Edit a datacenter zone name.</p>
    <hr>
    <%= form_for(@zone, remote: true, html: {"data-type" => :json, id: "ajax_card_form"}) do |f| %>
      <div class="form-group">
        <%= f.label :name, "Zone Name", for: "zone_name" %>
        <%= f.text_field :name, class: "form-control browser-default", type: "text", id: "zone_name", "aria-describedby": "name_help" %>
        <small id="name_help" class="form-text text-muted">All systems within this zone will be associated with the new zone name.</small>
      </div>
      <div class="clearfix">
        <%= f.button 'Submit Changes', class: 'btn btn-sm green lighten-2 pull-right', id: 'ajax_submit_button' %>
      </div>
      <hr>
      <div class="blue-grey lighten-3" id ="waiting_explanation"><span>Attempting to update zone - please wait <div class="throbber-loader"> </div></span></div>
      <div class="red lighten-2 form_card_error" id="error_explanation" class="form_card_error"><ul></ul></div>
      <div class="green lighten-2" id="success_explanation">Datacenter Zone Updated!</div>
    <% end %>
  </div>
  
</div>
<hr class="invisible">

<div class="card">
  <div class="card-block">
    <h5>BMC Host List</h5>
    <div class="overlay-container">
      <%= render '/layouts/loading_overlay' %>
      <div class="table-responsive">
        <table id="bmc_hosts_table" class="table table-striped nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>BMC Address</th>
              <th>System Model</th>
              <th>Serial</th>
              <th>Power Status</th>
              <th>Last Sync Status</th>
              <th>Onboarded</th>
              <th>Synchronize Date</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  document.category_name = 'zone'
  document.detail_name   = 'bmc_host'
  document.category_id   = <%= @zone.id %>
  document.category_associations = ['bmc_hosts']
  document.detail_associations   = []
  document.plurals['zone']     = 'zones'
  document.plurals['bmc_host'] = 'bmc_hosts'
</script>
