<h3>Zone <%= @zone.name %> Details</h3>

<div class="card ovf-hidden">
  <div class="card-block">
    <div class="clearfix">
      <%= link_to 'Back', zones_path, class: 'btn blue-grey lighten-2' %>
      <div class="pull-right">
        <p class="time_dock"><%= t :time_dock %></p>
      </div>
    </div>

    <div id="height_check" class="table-responsive">
      <table class="table table-striped table-shadow" id="show_view_table">
        <thead>
          <tr>
            <th>Zone ID</th>
            <th>Zone Name</th>
            <th>Last Updated</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @zone.id %></td>
            <td id="zone_name"><%= @zone.name %></td>
            <td><%= local_time(@zone.updated_at, '%B %e %Y, %l:%M%P') %></td>
            <td>
              <a class="blue-grey-text activator"><i class="fa fa-pencil"></i></a>
              <%= link_to '<i class="fa fa-times"></i>'.html_safe, @zone, method: :delete, data: { confirm: 'Are you sure?' }, class: 'red-text', id: "delete_disable_#{@zone.id}" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-reveal">
    <h4 class="card-title blue-grey darken-3">
      <i class="fa fa-building-o relative" aria-hidden="true"></i>
      Edit Zone <%= @zone.name %> <i class="fa fa-close"></i>
    </h4>
    <p>Edit a datacenter zone name.</p>
    <hr>
    <%= form_for(@zone, remote: true, html: {"data-type" => :json, id: "ajax_card_form"}) do |f| %>
      <div class="form-group">
        <%= f.label :name, "Zone Name", for: "zone_name" %>
        <%= f.text_field :name, class: "form-control", type: "text", id: "zone_name", "aria-describedby": "name_help" %>
        <small id="name_help" class="form-text text-muted">All systems within this zone will be associated with the new zone name.</small>
      </div>
      <div class="clearfix">
        <%= f.button 'Submit Changes', class: 'btn btn-sm green lighten-2 pull-right', id: 'ajax_submit_button' %>
      </div>
      <hr>
      <div class="blue-grey lighten-3" id ="waiting_explanation"><span>Attempting to update zone - please wait <div class="throbber-loader"> </div></span></div>
      <div class="red lighten-2 form_card_error" id="error_explanation" class="form_card_error"><ul></ul></div>
      <div class="green lighten-2" id="success_explanation">Datacenter Zone Updated!</div>
    <% end %>
  </div>
  
</div>
<hr class="invisible">
<div class="card">
  <div class="card-block">
    <div class="overlay-container">
      <%= render '/layouts/loading_overlay' %>
      <table id="zone_detail_table" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
        <thead id="main_header">
          <tr>
            <th>BMC Address</th>
            <th>System Model</th>
            <th>Serial</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
