<div class="clearfix">
  <h3 class="section_title">Scanned BMC Hosts</h3>
  <%= render '/layouts/data_load' %>
</div>
<div class="card">
  <div class="card-content" id="outer-card">
    <div id="async_wrapper">
      <%= render_async admin_check_foreman_reachable_path %>
    </div>
  </div>
</div>

<hr class="invisible">
<div class="card">
  <div class="card-content">
    <div class="clearfix">
      <h5 class="table-title">BMC Scanned Host List</h5>
      <div class="pull-right">
        <p class="time_dock"><%= t :time_dock %></p>
      </div>
    </div>
    <br>
    <%= render partial: "layouts/filter" %>
    <div class="z-depth-1 overflow-x">
      <table id="bmc_hosts_table" class="table striped nowrap" cellspacing="0" width="100%" data-livetype="datatable" data-source="<%= datatable_admin_bmc_hosts_path(format: :json) %>">
        <thead>
          <tr>
            <th class="th_checkbox"></th>
            <th class="th_bmc_address">BMC Address</th>
            <th class="th_brand">Brand</th>
            <th class="th_product">Product</th>
            <th class="th_serial">Serial</th>
            <th class="th_zone">Datacenter Zone</th>
            <th class="th_power">Power Status</th>
            <th class="th_bmc_sync">Sync Status</th>
            <th class="th_onboard_status">Onboard Status</th>
            <th class="th_onboard_step">Onboard Step</th>
            <th class="th_time">Synchronize Time</th>
            <th class="th_url"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="onboard_modal" class="modal"></div>

<script type="text/javascript">
  document.detail_name = 'bmc_host'
</script>
