<div class="clearfix">
  <h3 class="section_title">Onboard Request</h3>
  <%= render '/layouts/data_load' %>
</div>

<% if hosts.empty? %>
  <p>
    Does not appear to be a BMC host list to onboard.  Please go back and try again.
  </p>
  <%= link_to 'Back', admin_bmc_hosts_path, class: 'back btn blue-grey lighten-2' %>

<% else %>

<div class="card">
  <div class="card-content">
    <div class="clearfix">
      <%= link_to 'Back', admin_bmc_hosts_path, class: 'back btn blue-grey lighten-2' %>
      <div class="pull-right">
        <p class="time_dock"><%= t :time_dock %></p>
      </div>
    </div>
    <% unless !red.empty? && (green.empty? && yellow.empty?) %>
    <div class="card">
      <div class="card-content">
        <div class="alert green lighten-2 z-depth-1">
          <i class="fa fa-sign-on" aria-hidden="true"></i>
          BMC hosts are being onboarded.  This request was made on <strong><%= local_time(Time.now.iso8601, '%B %e %Y, %l:%M%P') %></strong>. Please review below.
        </div>
      </div>
    </div>
    <% else %>
    <div class="card">
      <div class="card-content">
        <div class="alert red lighten-2 z-depth-1">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          The BMC hosts in this list could not be onboarded.  Please review below.
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<hr class="invisible">

<div class="card">
  <div class="card-content">
    <div class="stand_alone">
      <h5>Onboard Details</h5>
    </div>

    <div class="blue-grey white-text z-depth-1 sync">
      <% if hosts.count == 1 %>
        Total of <%= hosts.count %> BMC host
      <% else %>
        Total of <%= hosts.count %> BMC hosts
      <% end %>
    </div>

    <hr>

    <ul class="collapsible" data-collapsible="expandable">

    <% if !red.empty? %>
      <%= render 'onboard_table_red', red: red %>
    <% end %>

    <% if !yellow.empty? %>
      <%= render 'onboard_table_yellow', yellow: yellow %>
    <% end %>

    <% if !green.empty? %>
      <%= render 'onboard_table_green', green: green %>
    <% end %>
    </ul>
  </div>

  <% end %>
</div>
