<div class="modal-dialog z-depth-3" role="document">
  <div class="modal-header blue-grey z-depth-1">
    <h4 class="modal-title white-text">Onboard Request</h4>
    <a class="modal-action modal-close pull-right"><i class="fa fa-close"></i></a>
  </div>
  <div class="modal-body">
  <% if hosts.empty? %>
    <p>
      No BMC hosts were selected.  Please close this dialog and select the BMC hosts to onboard.
    </p>
    <div class="modal-footer">
      <a class="btn blue-grey lighten-2 white-text modal-action modal-close pull-right">Close</a>
    </div>
  <% else %>

    <% unless !red.empty? && (green.empty? && yellow.empty?) %>
    <div class="alert red lighten-2 z-depth-1">
      <p>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        This action will onboard the selected BMC hosts into the Foreman backend.  Doing
        so will cause the systems to <strong>reboot and become unavaialble</strong> during the onboarding process.
      </p>
    </div>
    <% end %>

    <div class="blue-grey white-text z-depth-1 sync">
      <% if hosts.count == 1 %>
        Total of <%= hosts.count %> BMC host
      <% else %>
        Total of <%= hosts.count %> BMC hosts
      <% end %>
    </div>
    <hr class="invisible">
    <%= form_for(:onboard, url: multi_onboard_admin_bmc_hosts_path, html: {"data-type" => :json, id: "onboard_launch_job"}) do |f| %>
      <ul class="modal-content-collapsible" data-collapsible="expandable">

      <% if !red.empty? %>
          <%= render 'onboard_table_red', red: red %>
      <% end %>

      <% if !yellow.empty? %>
        <%= render 'onboard_table_yellow_form', yellow: yellow, f: f %>
      <% end %>

      <% if !green.empty? %>
        <%= render 'onboard_table_green_form', green: green, f: f %>
      <% end %>
      </ul>

      <% unless !red.empty? && (green.empty? && yellow.empty?) %>
        <p>To continue, please type <strong>Onboard Systems</strong>
        in the text box below and click the Onboard button.</p>
        <div class="modal-footer">
          <%= f.submit "Onboard", "data-dismiss": "modal", class: "modal-action modal-close btn btn-sm green lighten-2 pull-left onboard" %>
          <%= text_field_tag :confirm, "", class: 'pull-left form-control' %>
          <a class="btn blue-grey lighten-2 white-text modal-action modal-close pull-right">Close</a>
        </div>
      <% else %>
        <div class="modal-footer">
          <a class="btn blue-grey lighten-2 white-text modal-action modal-close pull-right">Close</a>
        </div>
      <% end %>

    <% end %>
  <% end %>
  </div>
</div>
