<div class="clearfix">
  <h3 class="section_title">BMC Host <span class="category_bmc_host_ip_address"><%= @bmc_host.ip_address %></span> Details</h3>
  <%= render '/layouts/data_load' %>
</div>
<div class="card">
  <div class="card-content">
    <div class="clearfix">
      <%= link_to 'Back', admin_bmc_hosts_path, class: 'back btn blue-grey lighten-2' %>
      <div class="pull-right">
        <p class="time_dock"><%= t :time_dock %></p>
      </div>
    </div>

    <div id="height_check" class="overflow-x z-depth-1">
      <table class="table striped" id="show_view_table" data-source="<%= request.env['PATH_INFO'] %>" data-livetype="model">
        <thead>
          <tr>
            <th>BMC Address</th>
            <th>Brand</th>
            <th>Product</th>
            <th>Serial</th>
            <th>Datacenter Zone</th>
            <th>Onboarded</th>
            <th>Onboard Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="category_bmc_host_ip_address" data-title="BMC Address:"><%= @bmc_host.ip_address %></td>
            <td class="category_bmc_host_brand" data-title="Brand:"><%= @bmc_host.brand.presence || 'N/A' %></td>
            <td class="category_bmc_host_product" data-title="Product:"><%= @bmc_host.product.presence || 'N/A' %></td>
            <td class="category_bmc_host_serial" data-title="Serial:"><strong><%= @bmc_host.serial.presence || 'N/A' %></strong></td>
            <td class="category_bmc_host_zone_name" data-title="Datacenter Zone:"><%= @bmc_host.zone.name %></td>
            <td id="category_bmc_host_onboard_status" data-errorfield="onboard_error_message" data-title="Onboarded:" class="onboard_status"><%= @bmc_host.onboard_status %>: <%= @bmc_host.onboard_step %></td>
            <td class="category_bmc_host_onboard_updated_at" data-title="Onboard Time:">
            <% if @bmc_host.onboard_updated_at.nil? %>
              N/A
            <% else %>
              <%= local_time(@bmc_host.onboard_updated_at.iso8601, '%B %e %Y, %l:%M%P') %>
            <% end %>
            </td>
            <td>
              <%= link_to '<i class="fas fa-times"></i>'.html_safe, [:admin, @bmc_host], method: :delete, data: { confirm: 'Are you sure?' }, class: 'red-text action_button', "role": "button" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a class="active" href="#sys_facts">System Facts</a></li>
      <li class="tab"><a href="#bmc_facts">BMC Facts</a></li>
      <li class="tab"><a href="#owner">Owner</a></li>
      <li class="tab"><a href="#catalog_status">Catalog Status</a></li>
    </ul>
  </div>

  <div class="card-content grey lighten-4 source_data">

    <%= render 'bmc_host_facts', bmc_host: @bmc_host %>

    <%= render 'system_facts', bmc_host: @bmc_host %>

    <div id="owner">Owner Stuff</div>
    <div id="catalog_status">Catalog Status</div>
  </div>
</div>

<script>
  document.category_name = 'bmc_host'
</script>
