<header>

  <!--Navbar-->

  <div class="navbar-fixed navbar">

    <nav class="sidenav-menu-wrapper z-depth-3">
      <div class="sidenav-menu-scroller">
        <ul class="sidenav-menu">

          <!-- Main Menu #1 -->
          <li id="<%= parent_menu('admin/bmc_scan_requests') || parent_menu('admin/brute_lists') || parent_menu('admin/onboard_requests') %>" class="activate-menu icon-view">
            <%= link_to 'BMC Scans / Onboarding', admin_bmc_scan_requests_path, { class: "#{ active?('admin/bmc_scan_requests') || active?('admin/brute_lists') || active?('admin/onboard_requests') } sidenav-icon sidenav-icon-onboard" } %>

            <!-- Pop Out Menu #1 -->
            <ul class="sidenav-popout-menu dropdown-content">
              <li id="<%= parent_menu('admin/bmc_scan_requests') || parent_menu('admin/brute_lists') || parent_menu('admin/onboard_requests') %>" class="top-item">
                <%= link_to 'BMC Scans / Onboarding', admin_bmc_scan_requests_path, class: "header" %>
              </li>
              <li class="divider top-item"></li>
              <li><%= link_to 'BMC Scan List', admin_bmc_scan_requests_path, class: "#{ active?('admin/bmc_scan_requests') } sidenav-icon sidenav-icon-list" %></li>
              <li><%= link_to 'Credentials List', admin_brute_lists_path, class: "#{ active?('admin/brute_lists') } sidenav-icon sidenav-icon-card" %></li>
              <li><%= link_to 'Onboard Requests', admin_onboard_requests_path, class: "#{ active?('admin/onboard_requests') } sidenav-icon sidenav-icon-upload" %></li>
            </ul>

            <!-- Main Sub Menu #1 -->
            <ul class="sidenav-submenu">
              <li class="<%= active?('admin/bmc_scan_requests') %>"><%= link_to 'BMC Scan List'.html_safe, admin_bmc_scan_requests_path, class: "sidenav-icon sidenav-icon-list" %></li>
              <li class="<%= active?('admin/brute_lists') %>"><%= link_to 'Credentials List'.html_safe, admin_brute_lists_path, class: "sidenav-icon sidenav-icon-card" %></li>
              <li class="<%= active?('admin/onboard_requests') %>"><%= link_to 'Onboard Requests'.html_safe, admin_onboard_requests_path, class: "sidenav-icon sidenav-icon-upload" %></li>
            </ul>
          </li>

          <!-- Main Menu #2 -->
          <li class="direct_link activate-menu <%= active?('admin/bmc_hosts') %>">
            <%= link_to 'Scanned BMC Hosts', admin_bmc_hosts_path, { class: "#{ active?('admin/bmc_hosts') } sidenav-icon sidenav-icon-server" } %>

            <!-- Pop Out Menu #2 -->
            <ul class="sidenav-popout-menu dropdown-content">
              <li class="top-item">
                <%= link_to 'Scanned BMC Hosts', admin_bmc_hosts_path, class: "#{ active?('admin/bmc_hosts') } header" %>
              </li>
            </ul>
          </li>

          <!-- Main Menu #3 -->
          <li class="direct_link activate-menu <%= active?('admin/zones') %>">
            <%= link_to 'Datacenter Zones', admin_zones_path, { class: "#{ active?('admin/zones') } sidenav-icon sidenav-icon-zone" } %>

            <!-- Pop Out Menu #3 -->
            <ul class="sidenav-popout-menu dropdown-content">
              <li class="top-item">
                <%= link_to 'Datacenter Zones', admin_zones_path, class: "#{ active?('admin/zones') } header" %>
              </li>
            </ul>
          </li>
        <a class="toggle-extended-menu"><span>Collapse Sidebar</span></a>

        </ul>
      </div>
    </nav>

    <nav class="text-uppercase z-depth-2">
      <div class="nav-wrapper">
        <div class="left bc_nav hide-on-med-and-down">
          <%= render_breadcrumbs separator: " / " %>
        </div>
        <ul id="nav-mobile" class="right">
          <li class="active">
            <a class="nav-menu"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="hidden-sm-down">Admin <span class="sr-only">(current)</span></span></a>
          </li>
          <li>
            <a class="nav-menu"><i class="fa fa-cloud" aria-hidden="true"></i> <span class="hidden-sm-down">Catalog</span></a>
          </li>
          <li>
            <a class="nav-menu"><i class="fa fa-question-circle-o" aria-hidden="true"></i> <span class="hidden-sm-down">Support</span></a>
          </li>
          <li>
            <a class="nav-menu dropdown-button waves-effect" data-activates="dropdown1">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i> 
              <span class="hidden-md-down"> Profile</span><i class="fa fa-angle-down rotate-icon" style="margin-left: 10px;"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <ul id="dropdown1" class="dropdown-content">
      <li><a>Options</a></li>
      <li><a>Settings</a></li>
      <li class="divider"></li>
      <li><a>Sign Out</a></li>
    </ul>
  </div>
  <%= render '/layouts/refresh_notification' %>

</header>

<!--Main layout-->
<main class="fixed-side-nav">
  <div class="container-fluid">
    <%= yield %>
  </div>
</main>
