<header>

  <!-- Sidebar navigation -->
  <ul id="slide-out" class="side-nav fixed text-uppercase blue-grey darken-2 z-depth-0">

    <!-- Logo -->
    <li>
      <div class="logo-wrapper waves-light">
        <p class="lead">Foreman DCIM Portal</p>
        <p class="black-text">Admin Page</p>
      </div>
    </li>

        <!-- Side navigation links -->
    <li>
      <ul class="collapsible collapsible-accordion">
        <li id="<%= parent_menu('bmc_scan_requests') || parent_menu('brute_lists') %>">
          <a class="collapsible-header waves-effect arrow-r <%= is_active('bmc_scan_requests') || is_active('brute_lists') %>">
            <i class="fa fa-share-square-o"></i>System Onboarding<i class="fa fa-angle-down rotate-icon"></i>
          </a>
          <div class="collapsible-body">
            <ul>
              <li><%= link_to '<i class="fa fa-list-ol"></i>BMC Scan List'.html_safe, bmc_scan_requests_path, class: is_active('bmc_scan_requests') %></li>
              <li><%= link_to '<i class="fa fa-address-card"></i>Credentials List'.html_safe, brute_lists_path, class: is_active('brute_lists') %></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="direct_link">
      <%= link_to '<i class="fa fa-server"></i>Scanned BMC Hosts'.html_safe, bmc_hosts_path, class: is_active('bmc_hosts') %>
    </li>
    <li class="direct_link">
      <%= link_to '<i class="fa fa-building-o"></i>Datacenter Zones'.html_safe, zones_path, class: is_active('zones') %>
    </li>

  </ul>

  <!--Navbar-->

  <div class="navbar-fixed navbar">
    <nav class="black-text grey lighten-2 text-uppercase z-depth-2">
      <div class="float-xs-left">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
      </div>
      <div class="nav-wrapper">
        <div class="left bc_nav hide-on-med-and-down">
          <%= render_breadcrumbs separator: " / " %>
        </div>
        <ul id="nav-mobile" class="right">
          <li class="active">
            <a class="nav-menu"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="hidden-sm-down">Admin <span class="sr-only">(current)</span></span></a>
          </li>
          <li>
            <a class="nav-menu"><i class="fa fa-cloud" aria-hidden="true"></i> <span class="hidden-sm-down">Catalog</span></a>
          </li>
          <li>
            <a class="nav-menu"><i class="fa fa-question-circle-o" aria-hidden="true"></i> <span class="hidden-sm-down">Support</span></a>
          </li>
          <li>
            <a class="nav-menu dropdown-button waves-effect" data-activates="dropdown1">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i> 
              <span class="hidden-md-down"> Profile</span><i class="fa fa-angle-down rotate-icon" style="margin-left: 10px;"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <ul id="dropdown1" class="dropdown-content">
      <li><a>Options</a></li>
      <li><a>Settings</a></li>
      <li class="divider"></li>
      <li><a>Sign Out</a></li>
    </ul>
  </div>

</header>

<!--Main layout-->
<main class="fixed-side-nav">
  <div class="container-fluid">
    <%= yield %>
  </div>
</main>
